<%= form_for(@calendar_event) do |f| %>
  <% if @calendar_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar_event.errors.count, "error") %> prohibited this calendar_event from being saved:</h2>

      <ul>
      <% @calendar_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :item_class %><br>
    <%= f.text_field :item_class %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :repeat_rule %><br>
    <%= f.text_field :repeat_rule %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
