<div class="container">
  <div class="row">
    <div class="col-md-8">
      <img src="https://s3.amazonaws.com/media.jetstrap.com/6ROwtRA8TmumwrEDccoT_Draw back.png"></img>
    </div>
    <div class="col-md-4">
      <div class="title-text">
        Sign in
      </div>
      <div class="signin-option">
        (or <%= link_to "Sign up Today!", signup_path %> )
      </div>
      <br/>
      <div class="signin-form">
        <%= form_for(:session, url: sessions_path) do |f| %>

          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.label :password %>
          <%= f.password_field :password %>
          <label class="checkbox">
            <input type="checkbox"></input>
             Remember me
          </label>

          <%= f.submit "Sign in", class: "btn btn-large btn-primary text-center pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
